<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">

    
    <h2>edit your listings</h2>
    <form action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" method="POST" enctype="multipart/form-data">
        <div class="md-3">
            <label for="title" class="form-lable">title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">title looks good</div>
        </div>
        <div class="md-3">
            <label for="description" class="form-lable">description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">enter valid description</div>
        </div>
        <div class="md-3">
            original image
            <img src="<%=originalImageUrl %>">
        </div>
        <div class="md-3">
            <label for="image" class="form-lable">image</label>
            <input type="file" name="listing[image]" class="form-control">
            <!-- <div class="invalid-feedback">enter valid img</div> -->
        </div>
        <div class="row">
        <div class="md-3 col-md-4">
            <label for="price" class="form-lable">price</label>
            <input type="number" name="listing[price]" value="<%= listing.price %>" required class="form-control">
            <div class="invalid-feedback">enter valid price</div>
        </div>
        <div class="md-3 col-md-8">
            <label for="country" class="form-lable">country</label>
            <input required type="text" name="listing[country]" value="<%= listing.country %>" class="form-control">
            <div class="invalid-feedback">enter valid country</div>
        </div>
    </div>
        <div class="md-3">
            <label for="location" class="form-lable">location</label>
            <input required type="text" name="listing[location]" value="<%= listing.location %>" class="form-control">
            <div class="invalid-feedback">enter valid location</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">edit</button>
    </form>
</div>
</div>
